/*清楚阴影*/
body{
  background-color: #f5f5f5;
  font-family: "Microsoft YaHei", sans-serif;
  -webkit-overflow-scrolling: touch;
}
label,input{
  -webkit-tap-highlight-color:rgba(0,0,0,0);
}
/*清除浮动*/
.clearfix{
  display: inline-block;
}
.clearfix:after{
  content: '.';
  display: block;
  overflow: hidden;
  height: 0;
  visibility: hidden;
  clear: both;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min-device-pixel-ratio: 1.5) {
  .border-1px{
    &::after{
      -webkit-transform: scaleY(0.7);
      transform: scaleY(0.7);
    }
  }
}
@media (-webkit-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2) {
  .border-1px{
    &::after{
      -webkit-transform: scaleY(0.5);
      transform: scaleY(0.5);
    }
  }
}

